header {
    text-align: center;
}

body {
    background-color: rgba(31, 73, 12, 0.5);
}

aside {
    text-align: center;
    border: 20px solid rgb(46, 139, 87);
}

.table {
    width: 100%;
}

.main {
    background-color: rgba(243, 241, 241, 0.5);
}

.footer {
    background-color: rgba(180, 180, 180, 0.5);
}

.td1,
.td2,
.td3 {
    text-align: center;
    width: 30%;
}