* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #3d3d3d;
    list-style-type: none;
}

html {
    scroll-behavior: smooth;
}

.h1 {
    margin: 0;
    letter-spacing: 5px;
    font-size: 55px;
}

.bold {
    font-weight: 600;
}

h2 {
    margin: 0 0 40px;
}

.h2 {
    margin: 0;
    letter-spacing: 9px;
    font-size: 14px;
    font-weight: 600;
}

body {
    margin: auto;
    max-width: 1400px;
}

.header {
    display: flex;
    flex-direction: column;
    padding: 4% 0 0 24%;
    background: #ededed;
    width: 100%;
    height: 120px;
}

.header-wrapper {
    display: flex;
    gap: 70px;
}

.menu-nav {
    display: flex;
    gap: 4%;
    font-size: 18px;
}

ul {
    margin: 5 px 0;
    padding: 0;
}

ul,
a {
    text-decoration: none;
}

a:hover {
    color: #9b9b9b;
}

.name-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    flex-wrap: wrap;
    align-content: flex-start;
}

.profile-img {
    border-radius: 100%;
    width: 140px;
    height: 140px;
}

.main-wrapper {
    display: flex;
    height: 975;
    padding: 10% 10% 0 10%;
}

.underline {
    border-bottom: 1.5px solid #3d3d3d;
    margin: 0 0 20px 0;
    font-weight: 600;
}

.underline.top {
    margin: 70px 0 25px 0;
}

.left-side {
    width: 50%;
    padding: 0 7% 0 5%;
    border-right: 1.5px solid #3d3d3d;
}

.right-side {
    width: 50%;
    padding: 0 0 0 5%;
}

.contacts>li {
    display: flex;
    align-items: center;
}

ul>li>img {
    margin: 10px 15px 10px 0;
}

.code {
    border-radius: 15px;
    background: rgb(249, 249, 249);
    font-family: 'Source Code Pro', monospace;
    letter-spacing: .5px;
}

.footer {
    margin: 50px 0 0 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2% 6%;
    background: #ededed;
    width: 100%;
    height: 120px;
}

.footer > span {
    padding: 0 0 0 40px;
}

.footer > a:hover {
    opacity: .6;
}